In [26]:
import org.apache.spark.sql.types.{StructType, StructField, StringType, IntegerType}
import org.apache.spark.sql.functions.{lit, max, row_number, desc, col, to_date, asc, to_timestamp}

In [2]:
val ratings_schema = new StructType()
        .add("user_id", IntegerType, true)
        .add("item_id", IntegerType, true)
        .add("rating", IntegerType, true)
        .add("timestamp", IntegerType, true)
        
val movies_schema = new StructType()
        .add("item_id", IntegerType, true)
        .add("movie_title", StringType, true)
        .add("release_date", StringType, true)
        .add("video_release_date", StringType, true)
        .add("IMBd_URL", StringType , true)
        .add("unknown", IntegerType, true)
        .add("action", IntegerType, true)
        .add("adventure", IntegerType, true)
        .add("animation", IntegerType, true)
        .add("comedy", IntegerType, true)
        .add("crime", IntegerType, true)
        .add("documentary", IntegerType, true)
        .add("drama", IntegerType, true)
        .add("fantasy", IntegerType, true)
        .add("film_noir", IntegerType, true)
        .add("horror", IntegerType, true)
        .add("musical", IntegerType, true)
        .add("mystery", IntegerType, true)
        .add("romance", IntegerType, true)
        .add("sci_fi", IntegerType, true)
        .add("thriller", IntegerType, true)
        .add("war", IntegerType, true)
        .add("western", IntegerType, true)

val users_schema = new StructType()
        .add("user_id", IntegerType, true)
        .add("age", IntegerType, true)
        .add("gender", StringType, true)
        .add("occupation", StringType, true)
        .add("zip_code", IntegerType, true)

ratings_schema = StructType(StructField(user_id,IntegerType,true), StructField(item_id,IntegerType,true), StructField(rating,IntegerType,true), StructField(timestamp,IntegerType,true))
movies_schema = StructType(StructField(item_id,IntegerType,true), StructField(movie_title,StringType,true), StructField(release_date,StringType,true), StructField(video_release_date,StringType,true), StructField(IMBd_URL,StringType,true), StructField(unknown,IntegerType,true), StructField(action,IntegerType,true), StructField(adventure,IntegerType,true), StructField(animation,IntegerType,true), StructField(comedy,IntegerType,true), StructField(crime,IntegerType,true), StructField(documentary,IntegerType,true), StructField(drama,...

StructType(StructField(item_id,IntegerType,true), StructField(movie_title,StringType,true), StructField(release_date,StringType,true), StructField(video_release_date,StringType,true), StructField(IMBd_URL,StringType,true), StructField(unknown,IntegerType,true), StructField(action,IntegerType,true), StructField(adventure,IntegerType,true), StructField(animation,IntegerType,true), StructField(comedy,IntegerType,true), StructField(crime,IntegerType,true), StructField(documentary,IntegerType,true), StructField(drama,...

In [4]:
val ratings_df = spark.read.options(Map("sep"->"\t")).schema(ratings_schema).csv("ml-100k/u.data")
val movies_df = spark.read.options(Map("sep"->"|")).schema(movies_schema).csv("ml-100k/u.item")
val users_df = spark.read.options(Map("sep"->"|")).schema(users_schema).csv("ml-100k/u.user")

ratings_df = [user_id: int, item_id: int ... 2 more fields]
movies_df = [item_id: int, movie_title: string ... 21 more fields]
users_df = [user_id: int, age: int ... 3 more fields]

lastException: Throwable = null

[user_id: int, age: int ... 3 more fields]

# 1-2)

In [17]:
val test =ratings_df.withColumn("counter", lit(1)) 
val test2 = test.drop("timestamp")
val grouped_by_id = test2.groupBy("item_id").sum("counter")
val top_10 = grouped_by_id.sort(desc("sum(counter)")).withColumnRenamed("sum(counter)", "Rating")

val names = movies_df.select("item_id", "movie_title")
val movie_names = top_10.join(names, Seq("item_id"))
movie_names.show(10)

+-------+------+--------------------+
|item_id|Rating|         movie_title|
+-------+------+--------------------+
|     50|   583|    Star Wars (1977)|
|    258|   509|      Contact (1997)|
|    100|   508|        Fargo (1996)|
|    181|   507|Return of the Jed...|
|    294|   485|    Liar Liar (1997)|
|    286|   481|English Patient, ...|
|    288|   478|       Scream (1996)|
|      1|   452|    Toy Story (1995)|
|    300|   431|Air Force One (1997)|
|    121|   429|Independence Day ...|
+-------+------+--------------------+
only showing top 10 rows

test = [user_id: int, item_id: int ... 3 more fields]
test2 = [user_id: int, item_id: int ... 2 more fields]
grouped_by_id = [item_id: int, sum(counter): bigint]
top_10 = [item_id: int, Rating: bigint]
names = [item_id: int, movie_title: string]
movie_names = [item_id: int, Rating: bigint ... 1 more field]

[item_id: int, Rating: bigint ... 1 more field]

# 3)

In [18]:
val genres = movies_df.drop("movie_title", "release_date", "IMBd_URL", "video_release_date")

val action = genres.select("item_id", "action").groupBy("action").sum("action").show()
val unknown = genres.select("item_id", "unknown").groupBy("unknown").sum("unknown").show()
val adventure = genres.select("item_id", "adventure").groupBy("adventure").sum("adventure").show()
val comedy = genres.select("item_id", "comedy").groupBy("comedy").sum("comedy").show()
val crime = genres.select("item_id", "crime").groupBy("crime").sum("crime").show()
val documentary = genres.select("item_id", "documentary").groupBy("documentary").sum("documentary").show()
val drama = genres.select("item_id", "drama").groupBy("drama").sum("drama").show()
val fantasy = genres.select("item_id", "fantasy").groupBy("fantasy").sum("fantasy").show()
val film_noir = genres.select("item_id", "film_noir").groupBy("film_noir").sum("film_noir").show()
val horror = genres.select("item_id", "horror").groupBy("horror").sum("horror").show()
val musical = genres.select("item_id", "musical").groupBy("musical").sum("musical").show()
val mystery = genres.select("item_id", "mystery").groupBy("mystery").sum("mystery").show()
val sci_fi = genres.select("item_id", "sci_fi").groupBy("sci_fi").sum("sci_fi").show()
val thriller = genres.select("item_id", "thriller").groupBy("thriller").sum("thriller").show()
val war = genres.select("item_id", "war").groupBy("war").sum("war").show()
val western = genres.select("item_id", "western").groupBy("western").sum("western").show()

+------+-----------+
|action|sum(action)|
+------+-----------+
|     1|        251|
|     0|          0|
+------+-----------+

+-------+------------+
|unknown|sum(unknown)|
+-------+------------+
|      1|           2|
|      0|           0|
+-------+------------+

+---------+--------------+
|adventure|sum(adventure)|
+---------+--------------+
|        1|           135|
|        0|             0|
+---------+--------------+

+------+-----------+
|comedy|sum(comedy)|
+------+-----------+
|     1|        122|
|     0|          0|
+------+-----------+

+-----+----------+
|crime|sum(crime)|
+-----+----------+
|    1|       505|
|    0|         0|
+-----+----------+

+-----------+----------------+
|documentary|sum(documentary)|
+-----------+----------------+
|          1|             109|
|          0|               0|
+-----------+----------------+

+-----+----------+
|drama|sum(drama)|
+-----+----------+
|    1|        50|
|    0|         0|
+-----+----------+

+-------+------------+
|fantasy|sum(fantasy)|
+-------+------------+
|      1|         725|
|      0|           0|
+-------+------------+

+---------+--------------+
|film_noir|sum(film_noir)|
+---------+--------------+
|        1|            22|
|        0|             0|
+---------+--------------+

+------+-----------+
|horror|sum(horror)|
+------+-----------+
|     1|         24|
|     0|          0|
+------+-----------+

+-------+------------+
|musical|sum(musical)|
+-------+------------+
|      1|          92|
|      0|           0|
+-------+------------+

+-------+------------+
|mystery|sum(mystery)|
+-------+------------+
|      1|          56|
|      0|           0|
+-------+------------+

+------+-----------+
|sci_fi|sum(sci_fi)|
+------+-----------+
|     1|        247|
|     0|          0|
+------+-----------+

+--------+-------------+
|thriller|sum(thriller)|
+--------+-------------+
|       1|          101|
|       0|            0|
+--------+-------------+

+---+--------+
|war|sum(war)|
+---+--------+
|  1|     251|
|  0|       0|
+---+--------+

+-------+------------+
|western|sum(western)|
+-------+------------+
|      1|          71|
|      0|           0|
+-------+------------+

genres = [item_id: int, unknown: int ... 17 more fields]

action: Unit = ()
unknown: Unit = ()
adventure: Unit = ()
comedy: Unit = ()
crime: Unit = ()
documentary: Unit = ()
drama: Unit = ()
fantasy: Unit = ()
film_noir: Unit = ()
horror: Unit = ()
musical: Unit = ()
mystery: Unit = ()
sci_fi: Unit = ()
thriller: Unit = ()
war: Unit = ()
western: Unit = ()

[item_id: int, unknown: int ... 17 more fields]

# 4)

In [27]:
val rating = ratings_df.select("item_id", "rating", "timestamp").where(col("rating")===5)
val rating_timestamp = rating.withColumn("timestamp", to_timestamp(col("timestamp")))

val release_date = movies_df.select("item_id", "movie_title", "release_date")
val date_time = release_date.withColumn("release_date", to_date(col("release_date"), "dd-MMM-yyyy"))

val oldest_movie = date_time.sort(asc("release_date"))
val filter_null = oldest_movie.filter(col("release_date").isNotNull)
filter_null.show(1)

+-------+--------------------+------------+
|item_id|         movie_title|release_date|
+-------+--------------------+------------+
|    675|Nosferatu (Nosfer...|  1922-01-01|
+-------+--------------------+------------+
only showing top 1 row

rating = [item_id: int, rating: int ... 1 more field]
rating_timestamp = [item_id: int, rating: int ... 1 more field]
release_date = [item_id: int, movie_title: string ... 1 more field]
date_time = [item_id: int, movie_title: string ... 1 more field]
oldest_movie = [item_id: int, movie_title: string ... 1 more field]
filter_null = [item_id: int, movie_title: string ... 1 more field]

[item_id: int, movie_title: string ... 1 more field]

# 5)

In [29]:
val rated_counter = ratings_df.withColumn("counter", lit(1)) 
val rated_grouped = rated_counter.groupBy("item_id").sum("counter")
val most_rated = rated_grouped.sort(desc("sum(counter)"))
val most_rated_movies = most_rated.join(names, Seq("item_id"))
val movies_ids = most_rated_movies.select("item_id")
val top_10 = movies_ids.limit(10)
val genres = top_10.join(movies_df, Seq("item_id"), "left")
val movie_and_genres = genres.drop("release_date", "IMBd_URL", "video_release_date", "item_id")
movie_and_genres.show()

+--------------------+-------+------+---------+---------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|         movie_title|unknown|action|adventure|animation|comedy|crime|documentary|drama|fantasy|film_noir|horror|musical|mystery|romance|sci_fi|thriller|war|western|
+--------------------+-------+------+---------+---------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|    Star Wars (1977)|      0|     1|        1|        0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     1|       1|  0|      1|
|      Contact (1997)|      0|     0|        0|        0|     0|    0|          0|    0|      1|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|        Fargo (1996)|      0|     0|        0|        0|     0|    0|          1|    0|      1|        0|     0|      0|      0|      0|     0|       0|  1|      0|
|Return of the Jed...|      0|     1|        1|        0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     1|       1|  0|      1|
|    Liar Liar (1997)|      0|     0|        0|        0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|English Patient, ...|      0|     0|        0|        0|     0|    0|          0|    0|      1|        0|     0|      0|      0|      0|     1|       0|  0|      1|
|       Scream (1996)|      0|     0|        0|        0|     0|    0|          0|    0|      0|        0|     0|      1|      0|      0|     0|       0|  1|      0|
|    Toy Story (1995)|      0|     0|        0|        1|     1|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|Air Force One (1997)|      0|     1|        0|        0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  1|      0|
|Independence Day ...|      0|     1|        0|        0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      1|
+--------------------+-------+------+---------+---------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+

rated_counter = [user_id: int, item_id: int ... 3 more fields]
rated_grouped = [item_id: int, sum(counter): bigint]
most_rated = [item_id: int, sum(counter): bigint]
most_rated_movies = [item_id: int, sum(counter): bigint ... 1 more field]
movies_ids = [item_id: int]
top_10 = [item_id: int]
genres = [item_id: int, movie_title: string ... 21 more fields]
movie_and_genres = [movie_title: string, unknown: int ... 17 more fields]

[movie_title: string, unknown: int ... 17 more fields]

# 6)

In [31]:
val students = users_df.select("user_id", "occupation").where(col("occupation") ==="student")
val students_movies = students.join(ratings_df, Seq("user_id"))
val movie_id = students_movies.select("item_id", "rating")
val counter = movie_id.withColumn("counter", lit(1))
val most_rated = counter.groupBy("item_id").sum("counter").sort(desc("sum(counter)")).limit(1)
val movie_most_rated = most_rated.join(movies_df, Seq("item_id")).select("movie_title")
movie_most_rated.show()

+-------------+
|  movie_title|
+-------------+
|Scream (1996)|
+-------------+

students = [user_id: int, occupation: string]
students_movies = [user_id: int, occupation: string ... 3 more fields]
movie_id = [item_id: int, rating: int]
counter = [item_id: int, rating: int ... 1 more field]
most_rated = [item_id: int, sum(counter): bigint]
movie_most_rated = [movie_title: string]

[movie_title: string]

# 7)

In [33]:
val movies_5_ratings = ratings_df.where(col("rating")=== 5)
val counter_movies = movies_5_ratings.withColumn("counter", lit(1))
val group_by_id = counter_movies.groupBy("item_id").sum("counter").sort(desc("sum(counter)")).limit(10)
val movie_names = movies_df.select("item_id", "movie_title")
val top_movies_5_ratings = group_by_id.join(movie_names, Seq("item_id"), "left").withColumnRenamed("sum(counter)", "5 ratings")
top_movies_5_ratings.show()

+-------+---------+--------------------+
|item_id|5 ratings|         movie_title|
+-------+---------+--------------------+
|     50|      325|    Star Wars (1977)|
|    100|      227|        Fargo (1996)|
|    127|      214|Godfather, The (1...|
|    174|      202|Raiders of the Lo...|
|     56|      188| Pulp Fiction (1994)|
|    318|      186|Schindler's List ...|
|     98|      181|Silence of the La...|
|    313|      179|      Titanic (1997)|
|    172|      172|Empire Strikes Ba...|
|    181|      171|Return of the Jed...|
+-------+---------+--------------------+

movies_5_ratings = [user_id: int, item_id: int ... 2 more fields]
counter_movies = [user_id: int, item_id: int ... 3 more fields]
group_by_id = [item_id: int, sum(counter): bigint]
movie_names = [item_id: int, movie_title: string]
top_movies_5_ratings = [item_id: int, 5 ratings: bigint ... 1 more field]

[item_id: int, 5 ratings: bigint ... 1 more field]

# 8)

In [35]:
val users_counter = ratings_df.select("user_id").withColumn("counter", lit(1))
val count_users = users_counter.groupBy("user_id").sum("counter").sort(desc("sum(counter)"))
val zip_codes = users_df.select("user_id", "zip_code")
val user_zip_code = count_users.join(zip_codes, Seq("user_id"), "left").withColumnRenamed("sum(counter)", "number of ratings")
user_zip_code.show()

+-------+-----------------+--------+
|user_id|number of ratings|zip_code|
+-------+-----------------+--------+
|    405|              737|   10019|
|    655|              685|   60657|
|     13|              636|   29206|
|    450|              540|   11758|
|    276|              518|   95064|
|    416|              493|   92626|
|    537|              490|   22902|
|    303|              484|   14853|
|    234|              480|   94702|
|    393|              448|   83686|
|    181|              435|   21218|
|    279|              434|   85251|
|    429|              414|   29205|
|    846|              405|   47130|
|      7|              403|   91344|
|     94|              400|   71457|
|    682|              399|   55128|
|    308|              397|   95076|
|     92|              388|   80525|
|    293|              388|   60804|
+-------+-----------------+--------+
only showing top 20 rows

users_counter = [user_id: int, counter: int]
count_users = [user_id: int, sum(counter): bigint]
zip_codes = [user_id: int, zip_code: int]
user_zip_code = [user_id: int, number of ratings: bigint ... 1 more field]

[user_id: int, number of ratings: bigint ... 1 more field]

# 9)

In [37]:
val users_age_20_25 = users_df.select("user_id", "age").where(col("age") >= 20 && col("age") <= 25)
val users_ratings_20_25 = users_age_20_25.join(ratings_df, Seq("user_id"), "left")
val users_counter = users_ratings_20_25.withColumn("counter", lit(1))
val most_rated_df = users_counter.groupBy("item_id").sum("counter").sort(desc("sum(counter)")).limit(1)
val most_rated_movie = most_rated_df.join(movies_df ,Seq("item_id"), "left").select("movie_title")
most_rated_movie.show()

+-------------+
|  movie_title|
+-------------+
|Scream (1996)|
+-------------+

users_age_20_25 = [user_id: int, age: int]
users_ratings_20_25 = [user_id: int, age: int ... 3 more fields]
users_counter = [user_id: int, age: int ... 4 more fields]
most_rated_df = [item_id: int, sum(counter): bigint]
most_rated_movie = [movie_title: string]

[movie_title: string]

# 10)

In [39]:
val movies_release_date = date_time.select("movie_title", "release_date")
val movies_after_1960 = movies_release_date.filter(col("release_date").gt(lit("1960-12-31")))
val movies_after_1960_sorted = movies_after_1960.sort(asc("release_date"))
movies_after_1960_sorted.show()

+--------------------+------------+
|         movie_title|release_date|
+--------------------+------------+
|Innocents, The (1...|  1961-01-01|
|Parent Trap, The ...|  1961-01-01|
|Breakfast at Tiff...|  1961-01-01|
|To Kill a Mocking...|  1962-01-01|
|Manchurian Candid...|  1962-01-01|
|    Cape Fear (1962)|  1962-01-01|
|Lawrence of Arabi...|  1962-01-01|
|   Mamma Roma (1962)|  1962-01-01|
|Great Escape, The...|  1963-01-01|
|      Charade (1963)|  1963-01-01|
|   Birds, The (1963)|  1963-01-01|
|Dr. Strangelove o...|  1963-01-01|
|        8 1/2 (1963)|  1963-01-01|
|Sword in the Ston...|  1963-01-01|
| My Fair Lady (1964)|  1964-01-01|
| Mary Poppins (1964)|  1964-01-01|
|That Darn Cat! (1...|  1965-01-01|
|Sound of Music, T...|  1965-01-01|
|Faster Pussycat! ...|  1965-01-01|
|   Alphaville (1965)|  1965-01-01|
+--------------------+------------+
only showing top 20 rows

movies_release_date = [movie_title: string, release_date: date]
movies_after_1960 = [movie_title: string, release_date: date]
movies_after_1960_sorted = [movie_title: string, release_date: date]

[movie_title: string, release_date: date]