# Assignment 5
Movie Lens Data Assignment

In [128]:
import numpy as np
import pandas as pd
import os

## INPUT VARIABLES

In [129]:
inputFilePath="/home/blarico/dev/DataProject/data/ml-100k"

In [130]:
print(os.getcwd())

/home/blarico/dev/DataProject/data/ml-100k

In [131]:
os.chdir(inputFilePath)

In [132]:
headerList=["Id", "Age", "Gender", "Ocupation", "Zip Code"]
data=pd.read_csv("u.user", sep="|", header=None)
data.columns = headerList

In [133]:
data.head()

   Id  Age Gender   Ocupation Zip Code
0   1   24      M  technician    85711
1   2   53      F       other    94043
2   3   23      M      writer    32067
3   4   24      M  technician    43537
4   5   33      F       other    15213

# Most number of ratings

In [134]:
ratingsData_Header=["User ID", "Item ID", "Rating", "Timestamp"]
ratingsData=pd.read_csv("u.data", delim_whitespace=True, header=None)
ratingsData.columns=ratingsData_Header

In [135]:
ratingsData.head()

   User ID  Item ID  Rating  Timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [143]:
moviesData_Header=["Movie ID", "Movie Title", "Release Date", "Video Release Date",
                  "IMBd Url", "unknown", "Action", "Adventure", "Animation",
                   "Childen's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy",
                   "Film-Noir", "Horro", "Musical", "Mystery", "Romance", "Sci-fi",
                   "Thriller", "War", "Western"]
moviesData=pd.read_csv("u.item", sep="|", encoding='utf8', header=None)

FileNotFoundError: [Errno 2] No such file or directory: 'u.item'

In [142]:
moviesData.head()

    0
0 NaN