In [3]:
val spark = SparkSession.builder().master("local[*]")
                                  .appName("spark_test")
                                  .getOrCreate()

spark = org.apache.spark.sql.SparkSession@50a8aba3

org.apache.spark.sql.SparkSession@50a8aba3

# Test-Functionality

In [4]:
val df = spark.read.options(Map("inferSchema"->"true")).csv("examples/customer-orders (2).csv")

df = [_c0: int, _c1: int ... 1 more field]

[_c0: int, _c1: int ... 1 more field]

In [24]:
val highest_c2 = df.filter(df("_c2") === 99.99)
highest_c2.show()

+---+----+-----+
|_c0| _c1|  _c2|
+---+----+-----+
| 73|7875|99.99|
| 73|7152|99.99|
+---+----+-----+

highest_c2 = [_c0: int, _c1: int ... 1 more field]

[_c0: int, _c1: int ... 1 more field]

In [22]:
val c2_sum_by_c0 = df.groupBy("_c0").sum("_c2")
c2_sum_by_c0.show()

+---+------------------+
|_c0|          sum(_c2)|
+---+------------------+
| 31|           4765.05|
| 85|           5503.43|
| 65|5140.3499999999985|
| 53| 4945.299999999999|
| 78| 4524.509999999999|
| 34|            5330.8|
| 81| 5112.709999999999|
| 28| 5000.709999999998|
| 76| 4904.209999999999|
| 27| 4915.889999999999|
| 26|            5250.4|
| 44|4756.8899999999985|
| 12| 4664.589999999998|
| 91| 4642.259999999999|
| 22| 5019.449999999999|
| 93| 5265.750000000001|
| 47| 4316.299999999999|
|  1| 4958.600000000001|
| 52| 5245.059999999999|
| 13|           4367.62|
+---+------------------+
only showing top 20 rows

c2_sum_by_c0 = [_c0: int, sum(_c2): double]

[_c0: int, sum(_c2): double]

In [23]:
val max_c2 = df.groupBy("_c0").max("_c2")
max_c2.show()

+---+--------+
|_c0|max(_c2)|
+---+--------+
| 31|   98.58|
| 85|   98.68|
| 65|   98.53|
| 53|   99.51|
| 78|    98.4|
| 34|   99.68|
| 81|   99.08|
| 28|   99.68|
| 76|   97.91|
| 27|   99.63|
| 26|   97.34|
| 44|   99.88|
| 12|   98.74|
| 91|   98.39|
| 22|   99.07|
| 93|   98.67|
| 47|   99.74|
|  1|    96.8|
| 52|    99.4|
| 13|   98.14|
+---+--------+
only showing top 20 rows

max_c2 = [_c0: int, max(_c2): double]

[_c0: int, max(_c2): double]

In [25]:
val min_c2 = df.groupBy("_c0").min("_c2")
min_c2.show()

+---+--------+
|_c0|min(_c2)|
+---+--------+
| 31|    0.38|
| 85|    2.18|
| 65|     0.1|
| 53|    0.65|
| 78|     1.2|
| 34|    0.82|
| 81|    0.51|
| 28|    3.73|
| 76|     0.0|
| 27|    1.03|
| 26|    0.71|
| 44|    0.76|
| 12|    1.02|
| 91|    2.97|
| 22|     1.1|
| 93|    0.47|
| 47|    0.31|
|  1|     0.1|
| 52|    0.17|
| 13|    0.71|
+---+--------+
only showing top 20 rows

min_c2 = [_c0: int, min(_c2): double]

[_c0: int, min(_c2): double]

In [26]:
val avg_c2 = df.groupBy("_c0").avg("_c2")
avg_c2.show()

+---+------------------+
|_c0|          avg(_c2)|
+---+------------------+
| 31|           47.6505|
| 85| 52.41361904761905|
| 65| 48.49386792452829|
| 53|  52.6095744680851|
| 78|51.414886363636356|
| 34| 50.76952380952381|
| 81| 50.12460784313725|
| 28| 51.55371134020617|
| 76|  53.3066304347826|
| 27| 47.26817307692307|
| 26| 46.05614035087719|
| 44|51.705326086956504|
| 12| 50.70206521739129|
| 91|51.013846153846146|
| 22|53.398404255319136|
| 93|49.212616822429915|
| 47|50.189534883720924|
|  1| 44.67207207207208|
| 52| 53.52102040816325|
| 13|50.202528735632185|
+---+------------------+
only showing top 20 rows

avg_c2 = [_c0: int, avg(_c2): double]

[_c0: int, avg(_c2): double]

In [28]:
val count_c0 = df.groupBy("_c0").count()
count_c0.show()

+---+-----+
|_c0|count|
+---+-----+
| 31|  100|
| 85|  105|
| 65|  106|
| 53|   94|
| 78|   88|
| 34|  105|
| 81|  102|
| 28|   97|
| 76|   92|
| 27|  104|
| 26|  114|
| 44|   92|
| 12|   92|
| 91|   91|
| 22|   94|
| 93|  107|
| 47|   86|
|  1|  111|
| 52|   98|
| 13|   87|
+---+-----+
only showing top 20 rows

count_c0 = [_c0: int, count: bigint]

[_c0: int, count: bigint]