In [1]:
import pandas as pd
import numpy as np
import math

# 1) Calculate distance between two points

In [3]:
def distance_cal():
    radius = 6371
    print("enter origin")
    lat1 = int(input("Enter latitude: "))
    lon1 = int(input("Enter longitude: "))
    print("enter destination")
    lat2 = int(input("Enter latitude: "))
    lon2 = int(input("Enter longitude: "))
    dlat = math.radians(lat2 - lat1)
    dlon = math.radians(lon2 - lon1)
    a = math.sin(math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2))
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c
    print(d)

In [4]:
distance_cal()

enter origin
Enter latitude: 50
Enter longitude: 40
enter destination
Enter latitude: 50
Enter longitude: 40
0.0
None

# 2) Standard deviation

In [9]:
data = [4, 2, 5, 8, 6]

In [10]:
def std_calc(data):
    print(np.std(data))

In [11]:
std_calc(data)

2.0

# 3) Random values

In [16]:
df = pd.DataFrame(np.random.randint(-10, 10, size=(10,4)))

def color_red_black(val):
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color

df.style.applymap(color_red_black)

# 4) Current date, oldest date and number of days

In [36]:
df = pd.read_csv("ufo_data/ufo_sighting_data.csv")
#df["Date_time"] = df["Date_time"].astype("datetime64[ns]")
#df['Date_time'] =  pd.to_datetime(df['Date_time'], format='%d%b%Y:%H:%M:%S.%f')
df[['date','time']] = df['Date_time'].str.split(expand=True)
df['Date_time'] = (pd.to_datetime(df.pop('date'), format='%m/%d/%Y') + 
                  pd.to_timedelta(df.pop('time') + ':00'))

In [41]:
print("Newest UFO")
df.Date_time.max()

Newest UFO

Timestamp('2014-05-08 18:45:00')

In [42]:
print("Oldest UFO")
df.Date_time.min()

Oldest UFO

Timestamp('1906-11-11 00:00:00')

In [43]:
print("Number of days difference")
(df.Date_time.max() - df.Date_time.min()).days

Number of days difference

39260

# 5) Extract year, month, day, hour, minute, second and weekday

In [47]:
print("Year: ")
df.Date_time.dt.year.head()

Year:

0    1949
1    1949
2    1955
3    1956
4    1960
Name: Date_time, dtype: int64

In [48]:
print("Month: ")
df.Date_time.dt.month.head()

Month:

0    10
1    10
2    10
3    10
4    10
Name: Date_time, dtype: int64

In [49]:
print("Day: ")
df.Date_time.dt.day.head()

Day:

0    10
1    10
2    10
3    10
4    10
Name: Date_time, dtype: int64

In [50]:
print("Hour: ")
df.Date_time.dt.hour.head()

Hour:

0    20
1    21
2    17
3    21
4    20
Name: Date_time, dtype: int64

In [51]:
print("Minute: ")
df.Date_time.dt.minute.head()

Minute:

0    30
1     0
2     0
3     0
4     0
Name: Date_time, dtype: int64

In [52]:
print("Second: ")
df.Date_time.dt.second.head()

Second:

0    0
1    0
2    0
3    0
4    0
Name: Date_time, dtype: int64

In [68]:
print("Weekday: ")
df.Date_time.dt.day_name()

Weekday:

0           Monday
1           Monday
2           Monday
3        Wednesday
4           Monday
           ...
80327       Monday
80328       Monday
80329       Monday
80330       Monday
80331       Monday
Name: Date_time, Length: 80332, dtype: object

# Empty values of UFOs

In [59]:
df.isnull().sum()

Date_time                             0
city                                  0
state/province                     5797
country                            9670
UFO_shape                          1932
length_of_encounter_seconds           0
described_duration_of_encounter       0
description                          15
date_documented                       0
latitude                              0
longitude                             0
dtype: int64